.App {margin: 0;padding: 0;background: #ddd;}
.Style1 {background: #06609cbe;color: white;padding-top: 15px;}
.Avatar {text-align: center;padding-top: 10px;}
.Avatar-img {width: 245px; height: 245px;border-radius: 100%;background: #fff;text-align: center;}
.Web-d {border-color: #fff;font-weight: bold;}
.Span-info {color: #ddd;font-weight: 300;font-size: 13px;}
.Hr {border-color: #fff;}
.hr-sep2 {border-color: #ddd;}
.White-color {color: white;}
.progress {max-height: 6px;background: #fff;}
.prog60-bar, .prog65-bar .prog68-bar, .prog80-bar, .prog90-bar {background: #999;}
.prog60-bar {width: 60%}
.prog65-bar {width: 65%}
.prog68-bar {width: 68%}
.prog80-bar {width: 80%}
.prog90-bar {width: 90%}
.small-section {background: #fff;border-radius: 0;padding: 2rem;}
.hobbies {border: 1px solid #1883f5;height: 45px;width: 45px;border-radius: 100%;}